<div class="row row-cols-8 row-cols-md-5 g-4 container-fluid p-3">
  <div class="col">
    <div class="card">
      <img src="https://cdn.shopify.com/s/files/1/0105/9484/4730/products/Front_Mani_198x198.png?v=1670972685" class="card-img-top" alt="Skyscrapers"/>
      <div class="card-body">
        <h5 class="card-title">Premio para perros ideales</h5>
        <h6>Un dos treat</h6>
        <h6>$160.00 </h6>
        <h6>Precio publico</h6>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://cdn.shopify.com/s/files/1/0105/9484/4730/products/Front_Mani_198x198.png?v=1670972685" class="card-img-top" alt="Skyscrapers"/>
      <div class="card-body">
        <h5 class="card-title">Premio para perros ideales</h5>
        <h6>Un dos treat</h6>
        <h6>$160.00 </h6>
        <h6>Precio publico</h6>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://cdn.shopify.com/s/files/1/0105/9484/4730/products/Front_Mani_198x198.png?v=1670972685" class="card-img-top" alt="Skyscrapers"/>
      <div class="card-body">
        <h5 class="card-title">Premio para perros ideales</h5>
        <h6>Un dos treat</h6>
        <h6>$160.00 </h6>
        <h6>Precio publico</h6>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://cdn.shopify.com/s/files/1/0105/9484/4730/products/Front_Mani_198x198.png?v=1670972685" class="card-img-top" alt="Skyscrapers"/>
      <div class="card-body">
        <h5 class="card-title">Premio para perros ideales</h5>
        <h6>Un dos treat</h6>
        <h6>$160.00 </h6>
        <h6>Precio publico</h6>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://cdn.shopify.com/s/files/1/0105/9484/4730/products/Front_Mani_198x198.png?v=1670972685" class="card-img-top" alt="Skyscrapers"/>
      <div class="card-body">
        <h5 class="card-title">Premio para perros ideales</h5>
        <h6>Un dos treat</h6>
        <h6>$160.00 </h6>
        <h6>Precio publico</h6>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://cdn.shopify.com/s/files/1/0105/9484/4730/products/Front_Mani_198x198.png?v=1670972685" class="card-img-top" alt="Skyscrapers"/>
      <div class="card-body">
        <h5 class="card-title">Premio para perros ideales</h5>
        <h6>Un dos treat</h6>
        <h6>$160.00 </h6>
        <h6>Precio publico</h6>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://cdn.shopify.com/s/files/1/0105/9484/4730/products/Front_Mani_198x198.png?v=1670972685" class="card-img-top" alt="Skyscrapers"/>
      <div class="card-body">
        <h5 class="card-title">Premio para perros ideales</h5>
        <h6>Un dos treat</h6>
        <h6>$160.00 </h6>
        <h6>Precio publico</h6>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://cdn.shopify.com/s/files/1/0105/9484/4730/products/Front_Mani_198x198.png?v=1670972685" class="card-img-top" alt="Skyscrapers"/>
      <div class="card-body">
        <h5 class="card-title">Premio para perros ideales</h5>
        <h6>Un dos treat</h6>
        <h6>$160.00 </h6>
        <h6>Precio publico</h6>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://cdn.shopify.com/s/files/1/0105/9484/4730/products/Front_Mani_198x198.png?v=1670972685" class="card-img-top" alt="Skyscrapers"/>
      <div class="card-body">
        <h5 class="card-title">Premio para perros ideales</h5>
        <h6>Un dos treat</h6>
        <h6>$160.00 </h6>
        <h6>Precio publico</h6>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://cdn.shopify.com/s/files/1/0105/9484/4730/products/Front_Mani_198x198.png?v=1670972685" class="card-img-top" alt="Skyscrapers"/>
      <div class="card-body">
        <h5 class="card-title">Premio para perros ideales</h5>
        <h6>Un dos treat</h6>
        <h6>$160.00 </h6>
        <h6>Precio publico</h6>
      </div>
    </div>
  </div>
</div>
