<footer class=" text-dark text-center text-lg-start" style="background-color: rgb(79, 233, 225);">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase tex-dark">Ligas adicionales</h5>

        <ul class="list-unstyled mb-0 text-dark">
          <li >
            Buscar
          </li>
          <li>
            Nuestro Blog
          </li>
          <li>
           ¿Quienes somos?
          </li>
          <li>
            Contactanos
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Ayuda</h5>

        <ul class="list-unstyled mb-0 text-dark">
          <li>
            Ayuda
          </li>
          <li>
            Pagos
          </li>
          <li>
            Enivos y Entregas
          </li>
          <li>
            Reportar Incidencia
          </li>
          <li>
            Facturcion Electronica
          </li>
          <li>
            Devoluciones y Cambios
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0">Horario de Atención</h5>

        <ul class="list-unstyled text-dark">
          <li>
            Lubes a viernes 9:00am a 6:00pm
          </li>
          <li>
            (55) 70005-5660
          </li>

        </ul>
      </div>
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0">Enterate de todas nuestras promociones y lanzamientos</h5>

        <ul class="list-unstyled text-dark">
          <li>
            <input type="text" placeholder="Correo electronico ">
          </li>
          <li>
            <button  style="background-color: orange;">Suscribete</button>
          </li>

        </ul>
      </div>
      <div class="col-lg-1 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0">Siguenos</h5>

       <li>
        <i class="fa-brands fa-facebook"></i>
       </li>
      </div>
       <div class=" col-lg-6 col-md-6 mb-4 mb-md-0">


        <ul class="list-unstyled text-dark p-3">
          <li>
            Terminos y Condiciones | privacidad
          </li>
          <li>
            Hecho en mexico  por Pet Markt company
          </li>
          <li>
            Derechos reservados 2023 Pet Markt Company
          </li>
        </ul>
      </div>

      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

</footer>
